.notFound {
  height: 100vh;
  width: 100%;
  display: flex;
  flex-grow: 1;

  &Main {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 30px;
  }

  &Title {
    font-size: 10.5rem;
    line-height: 8rem;
  }

  &SubTitle {
    font-size: 40px;
    height: 2rem;
  }

  &Text {
    text-align: center;
    line-height: 1.5rem;
    width: 17.75rem;
    font-size: 1.125rem;
  }
}
